<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
    <body class="grey-bg">
        <%- include('nav.ejs') %>
    
        <form class="form-box" action="/user/register" method="POST" onsubmit="return validateForm()">
            <h4>가입</h4>
            <input name="username" placeholder="아이디" required>
            <input name="password" id="password" type="password"placeholder="비밀번호" required>
            <input name="confirmPassword" id="confirmPassword" type="password" placeholder="비밀번호 확인" required>
            <span id="passwordError" style="color: red;"></span>
            <button type="submit">전송</button>
        </form> 

        <script>
            function validateForm() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
    
                if (password !== confirmPassword) {
                    document.getElementById("passwordError").innerHTML = "비밀번호가 일치하지 않습니다.";
                    return false;
                } else {
                    document.getElementById("passwordError").innerHTML = "";
                    return true;
                }
            }
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>